{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or post['title'] }}" required>
      {# 값은 request.form['title']가 존재하면 그 값을, 없으면 post['title']을 사용 
      python에서 or의 작동 방식이 왼쪽 값이 false일 경우에만 오른쪽 값을 반환
      왼쪽값이 true인 경우 왼쪽값을 반환
      jinja 템플릿 안에서는 일반 python의 or 논리를 따름#}
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
    {# request.form['body'] 값이 있으면 그것을, 없으면 기존 게시글의 본문(post['body'])을 보여줌 #}
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    {# class="danger"는 CSS 스타일링을 위한 것입니다(보통 빨간 버튼) #}
    {# onclick="return confirm('Are you sure?');"는 JavaScript로 확인 대화상자를 띄움 
    "확인"을 누르면 제출되고, "취소"하면 제출이 되지 않음 #}
  </form>
{% endblock %}